{% extends 'base.html.twig' %}
{% form_theme formmedecin 'bootstrap_4_layout.html.twig' %}

{% block title %}ajouter un medecin{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {{ form_start(formmedecin) }}
      
        <div class="form-group">
          {{ form_row(formmedecin.Prenom,{'attr':{'style':'background-color:deepskyblue'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(formmedecin.Nom,{'attr':{'style':'background-color:deepskyblue'}} ) }}
        </div>
        <div class="form-group">
          {{ form_row(formmedecin.Telephone,{'attr':{'style':'background-color:deepskyblue'}} ) }}
        </div>
        <div class="form-group">
          {{ form_row(formmedecin.Date,{'attr':{'style':'background-color:deepskyblue'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(formmedecin.Service,{'attr':{'style':'background-color:deepskyblue'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(formmedecin.Specialite,{'attr':{'style':'background-color:deepskyblue'}}) }}
        </div>
        <button type="submit" style="background-color:rgb(226, 23, 4)" class="h-2">
          {% if edit %}
                Enregister
          {% else %}
              Ajouter un medecin
          {% endif %}
        </button>
    {{ form_end(formmedecin) }}
  </div>
</div>
{% endblock %}
